includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    level: 8
    paths:
        - src/
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: new.static
